@use 'variables' as *;

header{
    border-bottom: solid $dark 5px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: white;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    img{

        left: 10%;
        position: fixed;
        top: -60px;
        z-index: 20;
        width: 210px;
        transition: .25s;
        cursor: pointer;
    }

    img:hover{
        scale: 1.15;
        
    }
    i{
        font-size: 1.8rem;
        color: rgb(51, 22, 22);
        font-weight: 300;
        padding: 0.89em 1em;
        cursor: pointer;
    }

    nav{
        display: none;
    }
}



  

/** media query **/

@media (min-width:$lg) {
    header{
         padding-block:1.5em;
        nav{
            display: flex;
            align-items: center;
            .links ul{
                display: flex;
                gap: 2em;
                padding-right: 2em;
                
                font-weight: bolder;
                a{
                    font-size: 1.5em;
                    color: $dark;
                }
                a:hover{
                    color: $red;
                }
            }

            
        }
    }

    .menu-container{
        display: none;
    }
}

