@use 'variables' as *;
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    font-family: $main-font;
}
h1,h2,h3,h4{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
    max-width: 65ch;

    line-height: 1.9rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    border: 0;
    text-wrap: nowrap;
    background-color: $yellow;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 1em 1.6em;
    border: 5px black solid;
    border-radius: 20px;
    box-shadow: 10px 10px 0 black;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: $red;
    color: $white;
    scale: 1.1;
}

.icons{
    display: flex;
    gap: 1em;
    padding-left: 2em;
    border-left: $red solid 4px;
    i{
        font-size: 1.5em;
        color: red;
        margin: 0;
        padding: 0;
        transition: .4s;
    }
    i:hover{
        color: rgb(4, 4, 36);
        rotate:20deg;
        scale: 1.2;
        
    }
}