
/* screen size breakpoints*/
$sm:700px;
$md:800px;
$lg:1024px;
$xl:1280px;
$xxl:1536px;
/**font-family*/
$main-font:"Roboto", sans-serif;
/* colors*/

$red:#FF382E;
$yellow:#FFDA00;
$dark:black;
$white:white;
